body {
    padding: 0px;
    margin: 0px;
    /* background-color: pink; */
    background-color: #F6F8FC;
    height: 3000px;
    overflow-x:hidden ;
}
nav {
    width:100%;
    height:70px;
    background-color: white;
    position: fixed;
    top:0px;
    z-index: 100;
}
hr {
    opacity: 0.3;
}
.nav-logo {
    width:200px;
    height:60px;
   margin-top: 4px;
   margin-left: 30px;
}
.search {
    width:700px;
    height:25px;
    margin-top: 10px;
    margin-left: 50px;
    padding: 10px;
    background-color:#F1F3F4;
    border-radius: 5px;
    border-color:lightsteelblue;
}
.search::placeholder {
    font-size: 17px;
    opacity: 0.7;
}
.navbar {
    display: flex;
    flex-wrap: wrap;
}
.notificationimg {
    width:30px;
    height:30px;
    margin-top: 19px;
    margin-left: 70px;
}
.user-profile {
    width:40px;
    height:40px;
    margin-top: 10px;
    margin-left: 50px;
}

  .blinking {
    animation: 1.7s blink ease infinite;
    position: absolute;
    top:48px;
    left:37.5%;
  }
  
  @keyframes blink {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  .navlinks {
    margin-top: 26px;
    margin-left: 230px;
  }
  .navlink {
    margin-left: 40px;
    text-decoration: none;
    color:black;
    font-family: sans-serif;
    font-size: 15px;
    transition: all 0.2s;
    opacity: 0.8;
  }
  .login {
    margin-left: 350px;
    margin-top: 20px;
    padding: 5px;
    width:80px;
    height:35px;
    font-size: 16px;
    background-color: white;
    color: black;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.2s;

  }
  .login:hover , .navlink:hover {
  color:dodgerblue;
  opacity: 1;
  }
  .registration {
    margin-top: 20px;
    margin-left: 0px;
    padding:5px;
    width:150px;
    height:35px;
    background-color: dodgerblue;
    color: white;
    border-radius: 5px;
    border-color: dodgerblue;
    cursor: pointer;
  }

  /* NAV END */

  .heropage {
    background-color: white;
    color:black;
    width:100%;
    height:1065px;
    /* position: relative; */
    margin-top: 60px;
  }
  .heroheading {
    color:black;
    position: relative;
    top:100px;
    font-family: 'Poppins',sans-serif;
    font-size: 45px;
    font-weight: 600;
  }
  .heropara {
    color:black;
    position: relative;
    top:100px;
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
    font-weight: 400;
    opacity: 0.7;
  }
  .heropageletters {
    text-align: center;
  }
  .herobtn1 {
    background-color: #0069D9;
    color:white;
    position: relative;
    top:120px;
    margin-left: 13%;
    padding:15px;
    width:300px;
    height:70px;
    border:none;
      border-radius: 5px;
      font-family: 'Roboto',sans-serif;
      font-size: 18px;
      opacity:0.8;
      transition: 0.3s ease all;
  }
  .herobtn1:hover {
   opacity: 1;
   box-shadow: 0 0 30px 0 rgb(0 0 0 / 7%);
  border:none;
  }
  .herobtn1:active {
    transform: scale(0.9);
   }
   .peopleimg {
    width:70px;
    height:60px;
    position: relative;
    top:120px;
    left:50px;
   }
  .herobtnimgflex {
    display: flex;
    justify-content: center;
  }
  .herouserpara {
    font-family: 'Roboto',sans-serif;
      font-size: 15px;
      opacity:0.8;
      color: black;
      position: relative;
    top:135px;
    left:70px;
    text-align: start;
    opacity: 0.7;
  }
  .tradingview-widget-container {
    margin-top: 160px;
  }
  .herodashboard {
    margin-left: 10%;
    width: 1200px;
    border-radius: 20px;
    border:1px solid white;
    padding:5px;
  }
  
  /*herosection end*/
  
  .secondpage {
    margin-top: 20%;
  }
  
  .secondpageh3 {
    color: #245de7;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: center;
  }
  
  .secondpageh1 {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 40px;
  }
  
  .secondpageletters {
    padding-top: 30px;
  }
  
  .featuresdiv1 {
    background-color: #f6f8fd;
    width: 550px;
    height: 500px;
    border-radius: 50px;
    color: black;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  
  }
  
  .featuresdiv2 {
    background-color: #f6fcfe;
    width: 550px;
    height: 500px;
    border-radius: 50px;
    color: black;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  }
  
  .featuresdiv {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 5%;
  }
  
  .fallgraphimg,
  .businessanalysisimg {
    width: 450px;
    height: 280px;
    margin-left: 40px;
    opacity: 0.9;
  }
  
  .featuresdiv1h1,
  .featuresdiv2h1 {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: center;
  }
  
  .featuresdiv1para,
  .featuresdiv2para {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: center;
  }
  
  .thirdpageimg {
    width: 800px;
    height: 500px;
    border-radius: 40px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-top: 25%;
   position: relative;
   left:40px;
  }
  
  .thirdpageletters {
    margin-top: 12%;
  }
  
  .thirdpageh1 {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding-left: 150px;
  }
  
  .thirdpagepara {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    padding-left: 150px;
    font-size: 20px;
  }
  #icongoogle  {
    margin-left: 130px;
    margin-top: 30px;
  }
  .thirdpage {
    display: flex;
  
    justify-content: space-between;
    align-items: center;
  }
  
  .fourthpageimgdiv {
    background-color: #f6fcfe;
    width: 800px;
    height: 550px;
    border-radius: 50px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    color: black;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
  
  }
  
  .fourthpage {
    margin-top: 15%;
    display: flex;
  }
  
  .fourthpageimgdiv1,
  .fourthpageimgdiv2,
  .fourthpageimgdiv3,
  .fourthpageimgdiv4 {
    width: 300px;
    height: 200px;
    position: relative;
    top: 30px;
    margin-left: 50px;
    background-color: white;
    color: black;
    border-radius: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  }
  
  .fourthpageh1 {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
  
  }
  .statsbtn1 {
    width: 160px;
    height: 35px;
    background-color: #0069D9;
    color: white;
    border-radius: 40px;
    border: none;
    position: relative;
    bottom: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 13px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .statsbtn1:hover {
    transform: scale(0.9);
  }
  .fourthpagepara {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 20px;
  }
  
  .fourthpageletters {
    margin-left: 5%;
    margin-top: 10%;
  }
  
  /* .material-symbols-outlined {
    color: black;
    margin-left: 40%;
    padding-top: 20px;
  } */
  
  .fourthpageimgh1 {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
  }
  
  .fourthpageimgpara {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    opacity: 0.7;
  }
  
  .fifthpageletters {
    margin-top: 15%;
  }
  
  .customerreviewsdiv1,
  .customerreviewsdiv3,
  .customerreviewsdiv4,
  .customerreviewsdiv5,
  .customerreviewsdiv6 {
    width: 450px;
    height: 250px;
    margin-top: 10px;
    border-radius: 20px;
    background-color: white;
    color: black;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  }
  
  .customerreviewsdiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  
  .customerreviewsdiv2 {
    width: 450px;
    height: 350px;
    margin-top: 10px;
    border-radius: 20px;
    background-color: white;
    color: black;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  }
  
  .customerreviewsdiv4,
  .customerreviewsdiv6 {
    position: relative;
    bottom: 100px;
  }
  
  .customerreviewsimg {
    width: 80px;
    height: 80px;
    position: relative;
    top: 20px;
    left: 20px;
  }
  
  .profilenamediv {
    display: flex;
  }
  
  .customerreviewsh3,
  .customerreviewspara1,
  .customerreviewspara2 {
    color: black;
    font-family: 'Poppins', sans-serif;
    text-align: center;
  }
  
  .customerreviewsletters {
    padding-left: 20px;
    padding-top: 5px;
  }
  
  .customerreviewspara1 {
    padding-left: 40px;
  }
  
  .customerreviewsbtn {
    width: 300px;
    border: 2px solid #245de7;
    color: #245de7;
    background-color: transparent;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0px -70px 80px 60px white;
    margin-left: 40%;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    cursor: pointer;
  }
  .getstartedheading {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 8%;
  }
  .getstartedimg {
    width:80px;
    height:80px;
    margin-left: 35%;
    position: relative;
    top: 20%;
  }
  .getstartedimg2 {
    width:80px;
    height:80px;
    margin-left: 38%;
    position: relative;
    top: 20%;
  }
  .getstartedpara ,.getstartedpara3 {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    
    margin-left: 22%;
    margin-top: 15%;
  }
  .getstartedpara2 {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    
    margin-left: 20%;
    margin-top: 15%;
  }
  .getstarteddiv1 {
    width:369px;
    height:224px;
    
    box-shadow: #00000033 0px 2px 5px ;
    border: 1px solid #f2f4f9;
    border-radius: 5px;
  }
  .getstarteddiv2 {
    width:369px;
    height:224px;
    margin-left: 2%;
    box-shadow: #00000033 0px 2px 5px ;
    border: 1px solid #f2f4f9;
    border-radius: 5px;
  }
  .getstarteddiv3 {
    width:369px;
    height:224px;
    margin-left: 2%;
    box-shadow: #00000033 0px 2px 5px ;
    border: 1px solid #f2f4f9;
    border-radius: 5px;
  }
  
  .getstartedspan1 {
    position: absolute;
    left:155px;
    font-size: 120px;
    text-align: center;
    opacity: 0.07;
    font-family: 'Overpass', sans-serif;
    line-height: 1;
  }
  .getstartedspan2 {
    position: absolute;
    left:565px;
    font-size: 120px;
    text-align: center;
    opacity: 0.07;
    font-family: 'Overpass', sans-serif;
    line-height: 1;
  }
  .getstartedspan3 {
    position: absolute;
    left:965px;
    font-size: 120px;
    text-align: center;
    opacity: 0.07;
    font-family: 'Overpass', sans-serif;
    line-height: 1;
  }
  .getstarteddiv {
    display: flex;
    flex-basis: 33.3333%;
    justify-content: center;
    margin-top: 5%;
  }
  .getstartbannercontainer {
    width:100%;
    height:379.4px;
    margin-top: 10%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.2)),url("https://crypo.netlify.app/assets/img/landing/sub-bg.jpg");
    background-position-x: left;
    display: none;
  }
  .getstartheadingbanner {
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-align: center;
    color: white;
    position: relative;
    top:80px;
  }
  .getstartbtnfooter {
  width:300px;
  height:50px;
  border-radius: 5px;
  font-size: 26px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-align: center;
  border: 1px solid white;
  padding:15px 30px;
  position: relative;
  top:100px;
  left:42%;
  transition: all 0.5s;
  }
  .getstartbtnfooter:hover {
    background-color: #0069D9;
    border:1px solid #0069D9;
    border-radius: 5px;
  }
  
  
  
  /*footer styles start*/
  
  footer {
    position: relative;
    bottom: 8%;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    cursor: pointer;
  }
  
  .footer {
    background-color: #08041e;
    color: white;
    width:1505px;
    height: 450px;
    margin-top: 24.8%;
  }
  
  .footerlogo {
   width:300px;
      height:100px;
    position: relative;
    top:70px;
    margin-left: 70px;
    cursor: pointer;
  }
  
  .footerletters {
    width: 300px;
    height: 250px;
    margin-top:100px;
    margin-left: 100px;
    cursor: pointer;
    opacity: 0.8;
  }
  .footerpagelink3and4flex,.footerpagelink1and2flex,.footerpagelink2and3flex {
    display: flex;
  }
  .footerpagelink3and4flex,.footerpagelink1and2flex {
    margin-left: 50px;
  }
  /* socialmedia icon start*/
  
  .fa {
    padding: 10px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
    opacity: 1;
  }
  
  .fa-facebook {
    background-color: black;
    color: white;
    border-radius: 50%;
  
  }
  
  .fa-facebook:hover {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background-color: black;
    color: white;
  
    border-radius: 50%;
  
  }
  
  .fa-twitter:hover {
    background: #55ACEE;
    color: white;
  }
  
  .fa-linkedin {
    background-color: black;
    color: white;
  
    border-radius: 50%;
  
  }
  
  .fa-linkedin:hover {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background-color: black;
    color: white;
  
    border-radius: 50%;
  
  }
  
  .fa-youtube:hover {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background-color: black;
    color: white;
  
    border-radius: 50%;
  
  }
  
  .fa-instagram:hover {
    background: hotpink;
    color: white;
  }
  
  /* socialmedia icon end*/
  
  .footercontainer {
    display: flex;
  }
  
  .footerpagelinks1,
  .footerpagelinks2,
  .footerpagelinks3,
  .footerpagelinks4 {
    margin-left: 60px;
  }
  .footerpagelinks4 {
    margin-left: 80px;
  }
  .footerlinkdiv {
    margin-top: 80px;
    font-size: 15px;
  }
  .newsletter {
    margin-top: 50px;
    margin-left: 10px;
  }
  .footeremail {
    width:200px;
    height:10px;
    padding:15px;
    border-radius: 5px;
    margin-right: 5px;
  }
  .footeremail.active {
    border: 5px #0069D9;
  }
  .footerpagelinks1 {
    text-align: center;
  }
  .submitbtn {
    width:100px;
    height:50px;
    padding:15px;
    border-radius: 5px;
    background-color: #0069D9;
    color: white;
    transition: all 0.3s ease-in-out;
    margin-right: 5px;
  }
  .submitbtn:active {
  transform: scale(0.9);
  }
  .info {
    display: flex;
    justify-content: flex-start;
    position: relative;
    right: 320px;
    bottom: 90px;
  }
  
  .faq,
  .privacypolicy,
  .riskwarning {
    color: #0094ff;
    opacity: 0.9;
  }
  
  .faq:hover,
  .privacypolicy:hover,
  .riskwarning:hover {
    opacity: 1;
  }
  
  .footerlink1 {
    color: white;
  }
  
  .footerlink1:hover {
    color: #0094ff;
    border-bottom: 2px solid #55ACEE;
  }
  
  .copyrightpara {
    background-color:#0069D9;
    color: white;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Poppins',sans-serif;
    text-align: center;
    padding:10px;
    position: relative;
    bottom:40px;
  }
  .copyrights {
    width:100%;
    height:10px;
    background-color:#0069D9;
  }
  
  
  /*footer styles end*/
  
  
  @media all and (max-width: 600px) {
    
    /*navbar start*/
    a {
        text-decoration: none;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
    
    }
    
    a:hover {
        border-bottom: 2px solid #55ACEE;
    }
    
    .navbar {
        display: flex;
        background-color: #08041e;
        width: 390px;
        height: 100px;
    }
    
    .navlogo {
        width: 150px;
        height: 150px;
        margin-left: 50px;
        position: relative;
        bottom: 30px;
        right:30px;
        cursor: pointer;
    }
    
    
    /*navbar end*/
    /*herosection start*/
    .heropage {
        background-color: #08041e;
        width: 390px;
        height: 1290px;
        padding-top: 50px;
    }
    
    .herobtns {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
          margin-left: 15%;
        position: relative;
        bottom: 35px;
    }
    
    
    .heroh1 {
        color: white;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 15px;
        margin-left:1%;
        padding:30px;
        padding-bottom: 10px;
        position: relative;
        bottom:80px;
    }
    .herobtnimgflex {
      display: flex;
      flex-wrap: wrap;
    }
    .heropara {
        color: white;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        font-size: 15px;
        margin-left: 10%;
        margin-right: 10px;
        opacity: 0.7;
        position: relative;
        bottom: 70px;
    }
    
    .herobtn1 {
      background-color: #0069D9;
      color:white;
      position: relative;
      top:100px;
      margin-left: 3%;
      padding:15px;
      width:300px;
      height:70px;
        border-radius: 5px;
        font-family: 'Roboto',sans-serif;
        font-size: 18px;
        opacity:0.8;
        transition: 0.3s ease all;
    }
    .herobtn1:hover {
     opacity: 1;
     box-shadow: 0 0 30px 0 rgb(0 0 0 / 7%);
    border:none;
    }
    .herobtn1:active {
      transform: scale(0.9);
     }
     .peopleimg {
      width:70px;
      height:60px;
      position: relative;
      top:100px;
      left:50px;
      display: none;
     }
    .herobtnimgflex {
      display: flex;
      flex-wrap: wrap;
      
    }
    .herouserpara {
      font-family: 'Roboto',sans-serif;
        font-size: 15px;
        opacity:0.8;
        color: white;
        position: relative;
      top:115px;
      left:70px;
      text-align: start;
      opacity: 0.7;
    }
    .tradingview-widget-container {
      margin-top: 160px;
    }
    
    .herobtn2 {
        width: 120px;
        height: 35px;
        background-color: black;
        color: white;
        border-radius: 20px;
        border: none;
        position: relative;
        bottom: 5px;
      right:50px;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        font-size: 13px;
    
    }
    .herobtn2div {
        width:50px;
    }
    .herodashboard {
        margin-left: 4%;
        margin-top: 13%;
        width: 350px;
        height:250px;
        border-radius: 10px;
    
    }
    /*herosection end*/
    .secondpage {
        margin-top: 10%;
        width:390px;
    }
    
    .secondpageh3 {
        color: #245de7;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        text-align: center;
    }
    
    .secondpageh1 {
        color: black;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        text-align: center;
        font-size: 30px;
    }
    
    .secondpageletters {
        padding-top: 30px;
    }
    
    .featuresdiv1 {
        background-color: #f6f8fd;
        width: 280px;
        height: 280px;
        margin-left: 50px;
        border-radius: 50px;
        color: black;
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    
    }
    
    .featuresdiv2 {
        background-color: #f6fcfe;
        width: 280px;
        height: 280px;
        margin-left: 50px;
        border-radius: 50px;
        color: black;
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
        margin-top: 15%;
    }
    
    .featuresdiv {
        display: block;
        justify-content: center;
        gap: 50px;
        margin-top: 20%;
    }
    
    .fallgraphimg,
    .businessanalysisimg {
        width: 200px;
        height: 150px;
        margin-left: 40px;
        opacity: 0.9;
    }
    
    .businessanalysisimg {
        width: 200px;
        height: 130px;
        margin-left: 35px;
        opacity: 0.9;
        margin-top: 5%;
    }
    
    .featuresdiv1h1,
    .featuresdiv2h1 {
        color: black;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        text-align: center;
        font-size: 20px;
        position: relative;
        bottom:10px;
    }
    .featuresdiv1para,
    .featuresdiv2para {
        color: black;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        text-align: center;
        font-size: 10px;
        position: relative;
        bottom:10px;
    }
    
    .thirdpageimg {
        width: 250px;
        height: 200px;
        border-radius: 20px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        margin-top: 25%;
       margin-left: 100px;
    
    }
    
    .thirdpageletters {
        margin-top: 32%;
    }
    
    .thirdpageh1 {
        color: black;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 18px;
        padding-left: 60px;
        text-align: center;
    }
    
    .thirdpagepara {
        color: black;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        padding-left: 60px;
        font-size: 10px;
        text-align: center;
    }
    
    .thirdpage {
      width:390px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    
    .fourthpageimgdiv {
        background-color: #f6fcfe;
        width: 320px;
        height: 1050px;
        border-radius: 50px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        color: black;
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-wrap: wrap;
       margin-top: 40%;
    }
    
    .fourthpage {
        margin-top: 15%;
        display: flex;
        flex-wrap: wrap;
        width:390px;
    }
    
    .fourthpageimgdiv1,
    .fourthpageimgdiv2,
    .fourthpageimgdiv3,
    .fourthpageimgdiv4 {
        width: 280px;
        height: 200px;
        position: relative;
        top: 16px;
        margin-left: 20px;
    margin-top: 16px;
        background-color: white;
        color: black;
        border-radius: 20px;
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    }
    
    .fourthpageh1 {
        color: black;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        margin-top: 30%;
        font-size: 25px;
        margin-right: 20px;
        text-align: center;
    }
    
    .fourthpagepara {
        color: black;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        font-size: 10px;
        margin-right: 20px;
        text-align: center;
    }
    
    .fourthpageletters {
        margin-left: 5%;
        margin-top: 10%;
    }
    
    .material-symbols-outlined {
        color: black;
        margin-left: 40%;
        padding-top:10px;
    }
    
    .fourthpageimgh1 {
        color: black;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 30px;
        text-align: center;
    }
    
    .statsbtn1 {
        width: 160px;
        height: 35px;
        background-color: #0069D9;
        color: white;
        border-radius: 40px;
        border: none;
        position: relative;
        bottom: 1px;
        left:95px;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        font-size: 13px;
        cursor: pointer;
    
    }
    
    .fourthpageimgpara {
        color: black;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        font-size: 20px;
        text-align: center;
        opacity: 0.7;
    }
    
    .fifthpage {
      width:390px;
      display: flex;
      flex-wrap: wrap;
     }
  
    .fifthpageletters {
        margin-top: 35%;
    }
    
    .customerreviewsdiv2 {
        margin-top: 30%;
        margin-right: 70px;
    }
    .customerreviewsdiv1,
    .customerreviewsdiv3,
    .customerreviewsdiv4,
    .customerreviewsdiv5,
    .customerreviewsdiv6 {
        width: 270px;
        height: 200px;
        border-radius: 20px;
        background-color: white;
        color: black;
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
        margin-top: 30px;
        margin-left: -10px;
    }
    
    .customerreviewsdiv {
        display: flex;
        flex-wrap: wrap;
       
    }
    
    .customerreviewsdiv2 {
        width: 270px;
        height: 250px;
        margin-top: 30px;
        margin-left: 55px;
        border-radius: 20px;
        background-color: white;
        color: black;
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    }
    
    .customerreviewsdiv4,
    .customerreviewsdiv6 {
        position: relative;
        bottom: 100px;
        display:none;
    }
    
    .customerreviewsimg {
        width: 80px;
        height: 80px;
        position: relative;
        top: 20px;
        left: 20px;
    }
    
    .profilenamediv {
        display: flex;
    }
    
    .customerreviewsh3,
    .customerreviewspara1,
    .customerreviewspara2 {
        color: black;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        font-size: 10px;
        margin-top: 20px;
    }
    
    .customerreviewsletters {
        padding-left: 20px;
        padding-top: 5px;
    }
    
    .customerreviewspara1 {
        padding-left: 40px;
    }
    
    .customerreviewsbtn {
        width: 250px;
        border: 2px solid #245de7;
        color: #245de7;
        background-color: transparent;
        height: 40px;
        border-radius: 20px;
        box-shadow: 0px -70px 50px 10px white;
        margin-left: 65px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        cursor: pointer;
        position: relative;
        bottom:15px;
        transition: all 1s;
    }
    .customerreviewsbtn:hover {
        color: white;
        background-color:  #245de7;
    }
    .getstartedheading {
        font-size: 25px;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        text-align: center;
        margin-top: 18%;
        margin-right: 73%;
    }
    .getstartedimg {
        width:80px;
        height:80px;
        margin-left: 33%;
        position: relative;
        top: 20%;
    }
    .getstartedimg2 {
        width:80px;
        height:80px;
        margin-left: 35%;
        position: relative;
        top: 20%;
    }
    .getstartedpara {
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
        
        margin-left: 20%;
        margin-top: 20%;
    }
    .getstartedpara2 {
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
        
        margin-left: 12%;
        margin-top: 20%;
    }
    .getstartedpara3 {
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
        
        margin-left: 15%;
        margin-top: 20%;
    }
    .getstarteddiv1 {
        width:320px;
        height:200px;
        margin-left: 25px;
        box-shadow: #00000033 0px 2px 5px ;
        border: 1px solid #f2f4f9;
        border-radius: 5px;
    }
    .getstarteddiv2 {
        width:320px;
        height:200px;
        margin-left: 25px;
        box-shadow: #00000033 0px 2px 5px ;
        border: 1px solid #f2f4f9;
        border-radius: 5px;
        margin-top: 30px;
    }
    .getstarteddiv3 {
        width:320px;
        height:200px;
        margin-left: 25px;
        box-shadow: #00000033 0px 2px 5px ;
        border: 1px solid #f2f4f9;
        border-radius: 5px;
        margin-top: 30px;
    }
    
    .getstartedspan1 {
        position: absolute;
        left:25px;
        font-size: 100px;
        text-align: center;
        opacity: 0.07;
        font-family: 'Overpass', sans-serif;
        line-height: 1;
    }
    .getstartedspan2 {
        position: absolute;
        left:30px;
        font-size: 100px;
        text-align: center;
        opacity: 0.07;
        font-family: 'Overpass', sans-serif;
        line-height: 1;
    }
    .getstartedspan3 {
        position: absolute;
        left:30px;
        font-size: 100px;
        text-align: center;
        opacity: 0.07;
        font-family: 'Overpass', sans-serif;
        line-height: 1;
    }
    .getstarteddiv {
        display: block;
        justify-content: center;
        margin-top: 10%;
    }
    
    
    /*footer styles start*/
    body {
        height:4000px;
    }
    
    footer {
        position: relative;
        top: -150px;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        cursor: pointer;
    }
    .footheading {
        margin-top: 15%;
    }
    
    .footer {
        background-color: #08041e;
        color: white;
        width: 390px;
        height: 100%;
        margin-top: 30%;
    }
    
    .footerlogo {
        width: 280px;
        height: 100px;
        margin-top: -30px;
        margin-left: 30px;
        cursor: pointer;
    }
    .footerlogodiv {
        background-color: #08041e;
        color: white;
        width: 390px;
        overflow: hidden;
    }
    
    .footerletters {
        width: 280px;
        height: 250px;
        margin-top: 100px;
        margin-left: 50px;
        cursor: pointer;
        opacity: 0.8;
    }
    .footerpagelink3and4flex,.footerpagelink1and2flex,.footerpagelink2and3flex {
        display: flex;
        flex-wrap: wrap;
        margin-top: 50px;
    }
    /* socialmedia icon start*/
    
    .fa {
        padding: 10px;
        font-size: 30px;
        width: 20px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        position: relative;
        right:40px;
    }
    
    .fa:hover {
        opacity: 1;
    }
    
    .fa-facebook {
        background-color: black;
        color: white;
        border-radius: 50%;
    
    }
    
    .fa-facebook:hover {
        background: #3B5998;
        color: white;
    }
    
    .fa-twitter {
        background-color: black;
        color: white;
    
        border-radius: 50%;
    
    }
    
    .fa-twitter:hover {
        background: #55ACEE;
        color: white;
    }
    
    .fa-linkedin {
        background-color: black;
        color: white;
    
        border-radius: 50%;
    
    }
    
    .fa-linkedin:hover {
        background: #007bb5;
        color: white;
    }
    
    .fa-youtube {
        background-color: black;
        color: white;
    
        border-radius: 50%;
    
    }
    
    .fa-youtube:hover {
        background: #bb0000;
        color: white;
    }
    
    .fa-instagram {
        background-color: black;
        color: white;
    
        border-radius: 50%;
    
    }
    
    .fa-instagram:hover {
        background: hotpink;
        color: white;
    }
    
    /* socialmedia icon end*/
    
    .footercontainer {
        display: block;
    }
    
    .footerpagelinks1,
    .footerpagelinks2,
    .footerpagelinks3,
    .footerpagelinks4 {
        margin-left: 60px;
        position: relative;
        bottom:200px;
    }
    .footerlinkdiv {
        margin-top: 10px;
        font-size: 15px;
    }
    
    .footerpagelinks4 {
        position: relative;
        bottom:120px;
    }
    
    .footerpagelinks1 {
        margin-right: 250px;
    }
    
    .info {
        display: block;
      position: relative;
    left:30px;
        bottom: 70px;
        margin-right: 100px;
    }
    
    .faq,
    .privacypolicy,
    .riskwarning {
        color: white;
        opacity: 0.9;
    }
    
    .faq:hover,
    .privacypolicy:hover,
    .riskwarning:hover {
        opacity: 1;
    }
    
    .footerlink1 {
        color: white;
    }
    
    .footerlink1:hover {
        color: #0094ff;
        border-bottom: 2px solid #55ACEE;
    }
    
    /*footer styles end*/
    
      }
    





      .dropbtn {
        background-color: white;
        color: black;
        padding: 16px;
        font-size: 16px;
        border: none;
        margin-top: -10px;
      }
      
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 160px;
        box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.2);
        z-index: 1;
        padding: 10px;
        width:200px;
        font-family: 'Poppins','sans-serif';
     
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-family: 'Poppins','sans-serif';
        width:180px;
      }
      
      .dropdown-content a:hover {background-color: white; color:dodgerblue;}
      
      .dropdown:hover .dropdown-content {display: block; }
      
      .dropdown:hover .dropbtn {background-color: white; }