body {
    padding: 0px;
    margin: 0px;
    /* background-color: pink; */
    background-color: #F6F8FC;
}

nav {
    width:100%;
    height:130px;
    background-color: white;
}
.nav-logo {
    width:200px;
    height:60px;
   margin-top: 5px;
   margin-left: 30px;
}
.search {
    width:700px;
    height:25px;
    margin-top: 10px;
    margin-left: 50px;
    padding: 10px;
    background-color:#F1F3F4;
    border-radius: 5px;
    border-color:lightsteelblue;
}
.search::placeholder {
    font-size: 17px;
    opacity: 0.7;
}
.navbar {
    display: flex;
    flex-wrap: wrap;
}
.notificationimg {
    width:30px;
    height:30px;
    margin-top: 19px;
    margin-left: 40px;
}
#user-profile {
    width:40px;
    height:40px;
    margin-top: 10px;
    margin-left: 50px;
}
/*tabs start*/
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid white;
    background-color: white;
    margin-top: 10px;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.1s;
    font-size: 17px;
  }
  .tablinks:first-child {
    margin-left: 100px;
  }
  
  /* Change background color of buttons on hover */
  /* .tab button:hover {
    background-color: #ddd;
  } */
  
  /* Create an active/current tablink class */
  .tab button.active {
    /* background-color:  dodgerblue; */
    border-bottom: 3px solid dodgerblue;
    color:black;
    /* border-radius: 5px; */
  }
  .flexcost {
    display: flex;
    margin-left: 10px;
  }
  .course-oldcost {
    margin-left: 20px;
    margin-top: 6px;
    font-size: 18px;
    color:red;
    font-family: 'poppins';
  }
  .course-discount {
    margin-left: 20px;
    margin-top: 6px;
    font-size: 18px;
    color:green;
    font-family: 'poppins';
  }
 
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
  /*tabs end*/

  .blinking {
    animation: 1.7s blink ease infinite;
    position: absolute;
    top:48px;
    left:30%;
  }
  
  @keyframes blink {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  .bread-crumb {
    display: flex;
    margin-left: 100px;
    gap:10px;
    margin-top: 10px;
    /* color:dodgerblue; */
}
.bread-crumb1 {
    color:dodgerblue;
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    font-family: 'sans-serif';
}
.bread-crumb1:hover {
    text-decoration: underline;
}
.slash {
    font-weight: 500;
    font-size: 15px;
    font-family: "Poppins";
    color:black;
}
.course-selection-div {
    width:1300px;
    margin-top: 30px;
    margin-left: 100px;
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    /* box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px; */
    border-radius: 5px;
}
.course-selection-div-videos,.course-selection-div-latestcourses {
    width:1300px;
    height:1570px;
    margin-top: 30px;
    margin-left: 100px;
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    /* box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px; */
    border-radius: 5px;
}
.blogs-selection-div {
    width:1300px;
    margin-top: 30px;
    margin-left: 100px;
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    /* box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px; */
    border-radius: 5px;
}
.course-category {
    font-family: 'Poppins','sans-serif';
    font-size: 20px;
}
.course-desc {
    font-family: 'Poppins','sans-serif';
    font-size: 17px;
    margin-left: 40px;
    width:60%;
}
.course-btn {
    padding:10px;
    margin-left: 40px;
    border-radius: 4px;
    background-color: dodgerblue;
    color:white;
    border:1px solid dodgerblue;
    font-family: 'Poppins','sans-serif';
}
.course-btn:hover {
    transform: scale(1.03);
    cursor: pointer;
}
.course-details {
    display: flex;
    margin-left: 10px;
    margin-top: -10px;
    font-family: sans-serif;
}
.course-details-videos {
  gap:10px;
  margin-left: 10px;
  margin-top: -10px;
  font-family: sans-serif;
}
.first-course {
    width: 300px;
    height:325px;
    margin-top:10px;
    margin-left: 40px; 
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    cursor: pointer;

}
.first-course2 {
    width: 300px;
    height:325px;
    margin-top:10px;
    margin-left: 40px; 
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    cursor: pointer;
}
.first-course2-videos {
    width: 380px;
    height:325px;
    margin-top:10px;
    margin-left: 40px; 
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    cursor: pointer;
}
.first-course2-stocks {
    width: 380px;
    height:325px;
    margin-top:10px;
    margin-left: 40px; 
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    color:black;
}
.first-course2-stocks:hover {
    transform: scale(1.02);
}
.first-course3 {
    width: 300px;
    height:325px;
    margin-top:20px;
    margin-left: 20px; 
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    cursor: pointer;
}
.first-course3:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.course-img {
    width: 300px;
    height:170px;
}
.course-img-stocks {
    width: 380px;
    height:170px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.course-title {
    font-family: sans-serif;
     margin-left: 10px;
}
.course-cost {
    font-family: sans-serif;
    margin-left: 10px;
    margin-top: 10px;
    color:rgb(7, 181, 7);
}
.scroll-courses-div ,.scroll-courses-div2,.scroll-courses-div3,.scroll-courses-div-mycourses {
    display: flex;
    flex-wrap: wrap;
}
.scroll-courses-div4,.scroll-courses-div-youtube {
    display: flex;
    flex-wrap: wrap;
}
.scroll-courses-div-videos , .scroll-courses-div-stocks,.scroll-courses-div5 {
    display: flex;
    flex-wrap: wrap;
}
.scroll-courses-div::-webkit-scrollbar,.scroll-courses-div2::-webkit-scrollbar,.scroll-courses-div3::-webkit-scrollbar,.scroll-courses-div4::-webkit-scrollbar,.scroll-courses-div5::-webkit-scrollbar,.scroll-courses-div-mycourses::-webkit-scrollbar {
    width: 29px;
  }
  .scroll-courses-div::-webkit-scrollbar-thumb, .scroll-courses-div2::-webkit-scrollbar-thumb, .scroll-courses-div3::-webkit-scrollbar-thumb, .scroll-courses-div4::-webkit-scrollbar-thumb,.scroll-courses-div5::-webkit-scrollbar-thumb,.scroll-courses-div-mycourses::-webkit-scrollbar-thumb {
    background-color: #1e90ff;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }


  .user-profile {
    /* background-color: ; */
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 50%;
    margin-top: 30px;
  }
  #user-profile {
    border-radius: 50%;
    margin-top: 13px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: -110px;
  }
  
  .dropdown-content-lang {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: -50px;
    overflow-y: scroll;
    height:400px;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: sans-serif;
    width:250px;
    border-radius: 30px;
    font-size: 20px;
  }
  .dropdown-content-lang a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: sans-serif;
    width:150px;
    border-radius: 30px;
    font-size: 20px;
  }
  .dropdown-content a:hover {background-color: #ddd;}
  .dropdown-content-lang a:hover {background-color: #ddd;}

  .dropdown-content-lang a:hover {background-color: #ddd;}
  .dropdown-content-lang a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropdown-content-lang {display: block;}

.dropdown:hover .user-profile {background-color: #3e8e41;}


.user-dropdown {
    width:25px;
    height:25px;
    position: relative;
    top: 5px;
}
.course-timing,.course-ln,.course-enrolled {
  font-size: 16px;
   font-family:Arial, Helvetica, sans-serif;
   font-weight: 500;
}
#delete {
  width:60px;
  height:30px;
  margin-left: 10px;
}