body {
    background-image: linear-gradient(to right , #75a0e2, #6f9ce4, #6998e5, #6494e7, #5f90e8, #4d99f0, #36a2f7, #00abfc, #00c1ff, #00d6ff, #00e9fa, #5ffbf1);
}
.user {
    width:250px;
    height:250px;
    padding: 50px;
    background-color: white;
    color:black;
    margin-top: 17%;
    margin-left: 7%;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
}
.user:hover {
    box-shadow: rgba(14, 97, 180, 0.56) 0px 22px 70px 4px;
    /* text-decoration: underline; */
    color:white;
    background-image: linear-gradient(to right , #75a0e2, #6f9ce4, #6998e5, #6494e7, #5f90e8, #4d99f0, #36a2f7, #00abfc);
}
.user_selection {
    display: flex;
}
.user-personas {
    width:180px;
    height:180px;
    margin-left: 40px;
}
.user-selection-h1 {
    /* margin-left: 10px; */
    text-align: center;
    font-family: sans-serif;
}