.namesurflex,.countrystateflex {
    display: flex;
    gap:20px;
}
.wholeprofilecontainer {
    display: flex;
}

.userimground {
    margin-left: 100px;
    margin-top: 70px;
    cursor: pointer;
}
.username {
font-family: 'Poppins',sans-serif;
font-size: 30px;
font-weight: 700;
position: relative;
right:20px;
margin-left: 120px;
cursor: pointer;
}
.useremail {
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    font-weight: 300;
    position: relative;
    right:45px;
    margin-left: 150px;
    cursor: pointer;
}
.userdetails {
    margin-top: 5px;
    margin-left: 50px;
   
}
.profileh1 {
    font-family: 'Poppins',sans-serif;
font-size: 30px;
font-weight: 700;
}
label {
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    font-weight: 300;
}
input {
    width: 250px;
    height:30px;
    padding: 5px;
}
.submit {
    width:150px;
    height:50px;
    padding:10px;
    border-radius: 5px;
    border: none;
    background-color: #0069D9;
    color: white;
    font-family: 'Poppins',sans-serif;
    font-size: 18px;
    font-weight: 300;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
    margin-left: 200px;
    cursor: pointer;
}
.submit:hover {
 transform: scale(0.9);
}
.userexperience {
    margin-left: 50px;
    margin-top: 5px;
}
.thirdcolumnh1 {
    font-family: 'Poppins',sans-serif;
    font-size: 30px;
    font-weight: 700;
}
textarea {
    width: 250px;
    height:100px;
}