body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;

}

a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;

}

a:hover {
    border-bottom: 2px solid #55ACEE;
}

.navbar {
    display: flex;
    background-color: #08041e;
    width: 100%;
    height: 100px;
}

.navlogo {
    width: 200px;
    height: 200px;
    margin-left: 50px;
    position: relative;
    bottom: 45px;
    cursor: pointer;
}

.navlinks {
    display: flex;
    justify-content: center;
    margin-top: 2.9%;
    gap: 30px;
    margin-left: 100px;
}

.navbtns {
    display: flex;
    gap: 30px;
    margin-top: 2.8%;
    margin-left: 20%;
}

.navbtnanker {
    border-bottom: 0px;
}

.navbtn1 {
    width: 100px;
    height: 45px;
    background-color: #245de7;
    color: white;
    border-radius: 20px;
    font-weight: 600;
    border: none;
    position: relative;
    bottom: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-weight: bold;
    cursor: pointer;
}

.navbtn2 {
    width: 150px;
    height: 45px;
    background-color: #245de7;
    color: white;
    border-radius: 20px;
    font-weight: 600;
    border: none;
    position: relative;
    bottom: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-weight: bold;
    cursor: pointer;
}
.heropagediv1 {
    background-image: url("https://as2.ftcdn.net/v2/jpg/01/43/81/33/1000_F_143813336_RgOXba1OWTP0vnPK9cAqefhYcOBwxSxF.jpg");
    background-color: #08041e;
    width: 100%;
    height: 760px;
    color: white;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.5)), url(https://as2.ftcdn.net/v2/jpg/01/43/81/33/1000_F_143813336_RgOXba1OWTP0vnPK9cAqefhYcOBwxSxF.jpg);
  margin-bottom: 200px;
  padding-top: 2px;
}
.newsh1 {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    background-color: #55ACEE;
    padding:20px;
    border-radius: 5px;
    margin-left: 42%;
    position: relative;
    bottom:30px;
    cursor: pointer;
    border: none;
}
.newsh1:hover {
    transform: scale(1.05);
    opacity:0.9;
}
.heroh1 {
    margin-top: 100px;
    margin-right: 20%;
    position: relative;
    top:100px;
    left:20%;
    font-weight: 700;
    font-size: 70px;
    font-family: monospace;
}
.aboutush2,.aboutpara {
    text-align: center;
    padding-right:50px;
}
.aboutush2 {
    font-weight: 700;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}
.aboutpara {
    font-weight: 300;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
.aboutparadiv {
    position: relative;
    bottom:50px;
}
.companyfeatures1img {
    width:462px;
    height:400px;
    margin-left: 56%;

}
.companyfeatures2img,.companyfeatures4img {
    width:462px;
    height:420px;

}

.companyfeaturesrow1 {
    display: flex;

}
.companyfeaturesrow2 {
    display: flex;
    position: relative;
    bottom:10px;
}
.companyfeaturesrow3 {
    display: flex;
    position: relative;
    bottom:15px;
}
.companyfeaturesrow4 {
    display: flex;
    position: relative;
    bottom:20px;
}
.companyfeatures3img {
    width:463px;
    height:400px;
    margin-left: 54%;
}
.companyfeaturesh1 {
    font-weight: 700;
    font-size: 20px;
    font-family: 'Poppins', sans-serif; 
    margin-top: 25px;
text-align: center;

}
.companyfeaturespara {
    font-weight: 300;
    font-size: 20px;
    font-family: 'Poppins', sans-serif; 
    text-align: center;
}
.companyfeaturesbtn {
    font-weight: 700;
    font-size: 20px;
    font-family: 'Poppins', sans-serif; 
    background-color: #08041e;
    color: white;
    border: none;
    padding: 20px;
    border-radius: 40px;
    margin-top: 10px;
margin-left: 32%;
}
.companyfeaturesbtn:hover {
    transform: scale(1.05);
    opacity: 0.9;
}
.companyfeatures1rightdiv {
   background-color: #55ACEE;
   margin-left: 250px;
   padding:31px;
}
.companyfeatures {
    margin-top: 5%;
}
.faqpara1 {
    font-weight: 700;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color:#245de7;
    text-align: center;
    margin-top: 10%;
}
.faqpara2 {
    font-weight: 700;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color:black;
text-align: center;
}
.questions {
    font-weight: 700;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color:black;
margin-left:18%;
margin-top: 5%;
}
.answers {
    font-weight: 300;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color:black;
    margin-left:18%;
    margin-right: 17%;
}
/*footer styles start*/

.footer {
    background-color: #08041e;
    color: white;
    width: 100%;
    height: 100%;
    margin-top: 15%;
}

.footerlogo {
    width: 250px;
    height: 250px;
    margin-top: 0px;
    margin-left: 130px;
    cursor: pointer;
}

.footerletters {
    width: 300px;
    height: 250px;
    margin-top: -50px;
    margin-left: 130px;
    cursor: pointer;
    opacity: 0.8;
}

/* socialmedia icon start*/

.fa {
    padding: 10px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 1;
}

.fa-facebook {
    background-color: black;
    color: white;
    border-radius: 50%;

}

.fa-facebook:hover {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background-color: black;
    color: white;

    border-radius: 50%;

}

.fa-twitter:hover {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background-color: black;
    color: white;

    border-radius: 50%;

}

.fa-linkedin:hover {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background-color: black;
    color: white;

    border-radius: 50%;

}

.fa-youtube:hover {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background-color: black;
    color: white;

    border-radius: 50%;

}

.fa-instagram:hover {
    background: hotpink;
    color: white;
}

/* socialmedia icon end*/

.footercontainer {
    display: flex;
}

.footerpagelinks1,
.footerpagelinks2,
.footerpagelinks3,
.footerpagelinks4 {
    margin-left: 60px;
}

.footerlinkdiv {
    margin-top: 90px;
}

.footerpagelinks1 {
    text-align: center;
}

.info {
    display: flex;
    justify-content: flex-start;
    position: relative;
    right: 320px;
    bottom: 100px;
}

.faq,
.privacypolicy,
.riskwarning {
    color: #0094ff;
    opacity: 0.7;
}

.faq:hover,
.privacypolicy:hover,
.riskwarning:hover {
    opacity: 1;
}
.footerlinkheading {
    font-weight: 700;
    font-family: 'Poppins', sans-serif; 
}

/*footer styles end*/