form {
    background-color:antiquewhite;
    width:90%;
    height:700px;
    margin-left: 70px;
    margin-top: 100px;
    display: flex;
    font-family: sans-serif
}
.contact-h1 {
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
}
.image-url {
    margin-left: 70px;
    margin-top: 10px;
    padding:10px;
    border-radius: 5px;
    border: none;
    width:230px;
}
.product-desc {
    margin-left: 70px;
    margin-top: 10px;
    padding:10px;
    border-radius: 5px;
    border: none;
    width:550px; 
}
.submit {
    background-color:burlywood;
    color:white;
   width:150px;
   height:40px;
   border-radius: 5px;
    border: none;
    margin-left: 0px;
    margin-top: 630px;
    position: relative;
    right: 350px;
}
.delete {
    background-color:burlywood;
    color:white;
   width:100px;
   height:40px;
   border-radius: 5px;
    border: none;
    margin-left: 0px;
    margin-top: 630px;
}
.submit:hover ,.delete:hover {
    transform: scale(1.05);
}
.product-label {
    margin-left: 70px;
}
.textarea-desc {
    margin-left: 70px;
    margin-top: 10px;
    padding:10px;
    border-radius: 5px;
    border: none;
    width:230px;
    height: 160px; 
    font-size: 15px;
}
.videos-h1 {
    margin-left: 50px;
    margin-top: -40px;
    font-size: 20px;
    font-family: sans-serif
}
#course-cost-label {
    font-size: 13px;
}
.second-row {
    margin-top: 80px;
}
#delete {
    margin-left: 53%;
position: relative;
bottom: 700px;
}
body {
    overflow: hidden;
}