* {
    margin: 0px;
    padding: 0px;
    font-family: 'Cabin-semi-bold', sans-serif;
}

body {
    background-color: transparent;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

main {
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
}

.navlogo {
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.navbar,
.navlinks,
.navlinkbuttons,
.navbtns {
    display: flex;
    align-items: center;

}

.navbar {
    height: 100px;
    position: fixed;
    background-color: #08041e;
    width: 100%;
    z-index: 3;
    justify-content: center;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

a:hover {
    color: #0094ff;

}

.navlink1:hover {
    border-bottom: 2px solid black;
}

.navlinks {
    gap: 20px;
    padding-left: 175px;
    opacity: 0.8;
}

.navbtns {
    gap: 20px;
    padding-left: 165px;
}

.navbtn1,
.navbtn2 {
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    font-weight: 600;
    color: white;
    border: 1px solid black;
    transition: all 0.5s;
}

/* navbar end*/
.heropagediv1 {
    background-color: #08041e;
    width: 100%;
    height: 500px;
    color: white;
}

.news1 {
    width: 1100px;
    height: 550px;
    border: 1px solid black;
    margin-top: 100px;

    margin-left: 100px;
    background-color: white;
}

.newsrow1 {
    display: flex;
}

.newsh1 {
    text-align: center;
    padding-top: 50px;
    font-weight: 800;
}

.news1para {
    margin-left: 30px;
    margin-top: 10px;

}

.sidebar {
    width: 300px;
    height: 760px;
    background-color: #9de1fd;
    position: sticky;
    top: 100px;
}

.secondpage {
    display: flex;
    height: 1800px;
}

.sidebarcontent {
    text-align: center;

}

.sidecontentpara {
    font-size: 20px;
    font-weight: 550px;
    margin-top: 30px;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.stocknews {
    position: relative;
    right: 350px;
}

.stocksnews1 {
    width: 400px;
    height: 400px;
    background-color: white;
    color: black;
    position: relative;
    right: 770px;
    top: 700px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.stocksnews2 {
    width: 400px;
    height: 400px;
    background-color: white;
    color: black;
    position: relative;
    right: 350px;
    top: 300px;
    border-radius: 10px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.stocksnews3 {
    width: 400px;
    height: 400px;
    background-color: white;
    color: black;
    position: relative;
    right: 770px;
    top: 350px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.stocksnews4 {
    width: 400px;
    height: 400px;
    background-color: white;
    color: black;
    position: relative;
    right: 350px;
    top: -50px;
    border-radius: 10px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.stocksnews5 {
    width: 300px;
    height: 850px;
    background-color: white;
    color: black;
    position: relative;
    right: -70px;
    top: -900px;
    border-radius: 10px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

/*footer styles start*/

.footer {
    background-color: #08041e;
    color: white;
    width: 100%;
    height: 100%;

}

.footerlogo {
    width: 250px;
    height: 250px;
    margin-top: 0px;
    margin-left: 130px;
    cursor: pointer;
}

.footerletters {
    width: 300px;
    height: 250px;
    margin-top: -50px;
    margin-left: 130px;
    cursor: pointer;
    opacity: 0.8;
}

/* socialmedia icon start*/

.fa {
    padding: 10px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 1;
}

.fa-facebook {
    background-color: black;
    color: white;
    border-radius: 50%;

}

.fa-facebook:hover {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background-color: black;
    color: white;

    border-radius: 50%;

}

.fa-twitter:hover {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background-color: black;
    color: white;

    border-radius: 50%;

}

.fa-linkedin:hover {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background-color: black;
    color: white;

    border-radius: 50%;

}

.fa-youtube:hover {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background-color: black;
    color: white;

    border-radius: 50%;

}

.fa-instagram:hover {
    background: hotpink;
    color: white;
}

/* socialmedia icon end*/

.footercontainer {
    display: flex;
}

.footerpagelinks1,
.footerpagelinks2,
.footerpagelinks3,
.footerpagelinks4 {
    margin-left: 60px;
}

.footerlinkdiv {
    margin-top: 130px;
}

.footerpagelinks1 {
    text-align: center;
}

.info {
    display: flex;
    justify-content: flex-start;
    position: relative;
    right: 320px;
    bottom: -5px;
}

.faq,
.privacypolicy,
.riskwarning {
    color: #0094ff;
    opacity: 0.7;
}

.faq:hover,
.privacypolicy:hover,
.riskwarning:hover {
    opacity: 1;
}

/*footer styles end*/