.currecnylist {
    margin-top: 5%;
}
.heading {
    margin-left: 340px;
    padding: 5px;
    font-family: sans-serif;
    font-size: 40px;
}
table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;
    font-family: sans-serif;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  th, td {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
.search {
  padding: 10px;
  width: 55%;
  border-radius: 3px;
  border: 1px solid grey;
  margin-left: 332px;
}
.search:focus {
  outline-color:  dodgerblue;
  opacity: 0.6;
}