.heropage {
    width: 100%;
    height: 859px;
    background-color: white;
}

input:invalid {
    border-color: red;
}
* {
    margin: 0px;
    padding: 0px;
}

.logininside {
    background-color: white;
    color: black;
    width: 350px;
    height: 470px;
    position: relative;
    top:160px;
    left:63%;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px -3px black;
}
.loginimg {
    width:55%;
    height:865px;
    position: fixed;

}
.forgotpass {
    color:#0094ff; 
    cursor: pointer;
}
.logoimg {
    width: 450px;
    margin-left: 500px;
    position: relative;
    bottom: 50px;
    height: 400px;

}
.checkforgot {
    display: flex; 
    justify-content: space-between;
}

input[type=email],
input[type=password] {
    width: 320px;
    height: 30px;
    padding: 10px;
}

input[type=checkbox] {
    width: 15px;
    height: 15px;
    margin-top: 1.5px;
}

.loginbtn {
    background-color: #0094ff;
    color: white;
    width: 350px;
    height: 35px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.loginbtn:hover {
    opacity: 0.7;

}

.h3needaccount {
    text-align: center;
    cursor: pointer;
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 500;
}

.loginwholediv {
    height: 859px;
}
.continuewithpara {
    text-align: center;
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 500;
}
.continuewithimg {
    display: flex;
    justify-content: center;
}
.backtohomebtn{
    position: absolute;
    top:11%;
    left:82%;
    padding:10px;
    background-color: #0094ff;
    color: white;
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 500;
    border-radius: 10px;
    transition: all 0.5s;
    border: none;
    transform: scale(1.03);
}
.backtohomebtn:hover {
    border:2px solid #0094ff;
    transform: scale(1.05);
    box-shadow: 0px 0px 10px -3px black;
}





@media all and (max-width: 600px) {

.heropage {
    width: 390px;
    height: 100%;
    background-color: white;
}

* {
    margin: 0px;
    padding: 0px;
}

.logininside {
    background-color: white;
    color: black;
    width: 250px;
    height: 530px;
    position: relative;
    top:80px;
    left:10%;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px -3px black;
    position: fixed;
}
.loginimg {
   display: none;

}
.checkforgot {
    display: block;
}
.logoimg {
    width: 450px;
    margin-left: 500px;
    position: relative;
    bottom: 50px;
    height: 400px;

}

input[type=email],
input[type=password] {
    width: 230px;
    height: 30px;
    padding: 10px;
}

input[type=checkbox] {
    width: 15px;
    height: 15px;
    margin-top: 1.5px;
}

.loginbtn {
    background-color: #0094ff;
    color: white;
    width: 250px;
    height: 35px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.loginbtn:hover {
    opacity: 0.7;

}
.forgotpass {
    margin-top: 5%;
}

.h3needaccount {
    text-align: center;
    cursor: pointer;
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 500;
}

.loginwholediv {
    height: 859px;
}
.continuewithpara {
    text-align: center;
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 500;
}
.continuewithimg {
    display: flex;
    justify-content: center;
}
.backtohomebtn{
    position: absolute;
    top:3%;
    left:62%;
    padding:10px;
    background-color: #0094ff;
    color: white;
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 500;
    border-radius: 10px;
    transition: all 0.5s;
    border: none;
    transform: scale(1.03);
    position: fixed;
}
.backtohomebtn:hover {
    border:2px solid #0094ff;
    transform: scale(1.05);
    box-shadow: 0px 0px 10px -3px black;
}

}