.heropage {
    width: 100%;
    height: 869px;
    background-color: #0e0f12;
}

* {
    margin: 0px;
    padding: 0px;
}

.logininside {
    background-color: white;
    color: black;
    width: 350px;
    height: 600px;
    position: relative;
    bottom: 250px;
    left: 520px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 10px 15px -3px #0094ff;
}

.logoimg {
    width: 450px;
    margin-left: 500px;
    position: relative;
    bottom: 130px;
    height: 400px;

}

input[type=email],
input[type=password],
input[type=text],
input[type=number] {
    width: 320px;
    height: 30px;
    padding: 10px;
}

input[type=checkbox] {
    width: 15px;
    height: 15px;
    margin-top: 1.5px;
}

.loginbtn {
    background-color: #0094ff;
    color: white;
    width: 350px;
    height: 35px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.loginbtn:hover {
    opacity: 0.7;

}

.loginwholediv {
    height: 859px;
}

.radiowholediv {
    display: flex;
}

input[type=radio] {
    width: 15px;
    height: 15px;
    position: relative;
    top: 3px;
    font-family: 'Hammersmith One', sans-serif;
}