body {
    background-color: #F6F8FC;
    /* background-color: pink; */
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
nav {
    width:100%;
    height:130px;
    background-color: white;
}
.nav-logo {
    width:200px;
    height:60px;
   margin-top: 5px;
   margin-left: 30px;
}
.search {
    width:700px;
    height:25px;
    margin-top: 10px;
    margin-left: 50px;
    padding: 10px;
    background-color:#F1F3F4;
    border-radius: 5px;
    border-color:lightsteelblue;
}
.search::placeholder {
    font-size: 17px;
    opacity: 0.7;
}
.navbar {
    display: flex;
    flex-wrap: wrap;
}
.notificationimg {
    width:30px;
    height:30px;
    margin-top: 19px;
    margin-left: 50px;
}
.user-profile {
    width:40px;
    height:40px;
    margin-top: 10px;
    margin-left: 50px;
}
/*tabs start*/
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid white;
    background-color: white;
    margin-top: 10px;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    width:100%;
    height:90px;
  }
  .tab::-webkit-scrollbar {
    display: none;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  .tablinks:first-child {
    margin-left: 100px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color:  dodgerblue;
    color:white;
    border-radius: 5px;
  }
 
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
  /*tabs end*/

  .blinking {
    animation: 1.7s blink ease infinite;
    position: absolute;
    top:48px;
    right:117px;
  }
  
  @keyframes blink {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
 

.home {
  width:90%;
  height:110px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-left: 100px;
  cursor: pointer;
  /* transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) all 0.5s; */
}
.home:hover {
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    /* border-bottom: 1px solid grey; */
    /* padding-bottom: 5px; */
    /* box-shadow: 0px 2px 10px rgba(0,0,0,1) ;
     */
     box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 5px -20px;
}
.home-news-img {
    width:100px;
    height:112px;
    margin-top: -5px;
    margin-left: 0px;
    /* margin-left: ; */
    border-radius: 10px;
}
.home-news-h1 {
    width:50%;
    /* margin-top: -5px; */
    margin-left: 105px;
    border-radius: 10px;
    /* font-size: 11px; */
    /* font-family: sans-serif; */
    /* font-weight: 400; */
/* font-family: 'Tilt Neon', cursive; */

    /* height:; */
    margin-top: 70px;
    font-weight: 500;
    font-size: 28px;
    font-family: 'Poppins',sans-serif;
    color:black;
    text-decoration: none;
/* font-family: 'Tilt Neon', cursive; */
}
#date-p {
  margin-left: 105px;
  font-weight: 500;
  font-size: 15px;
  font-family: sans-serif;
  color:black;
}
.home-news-a {
    width:100%;
    /* height:; */
    margin-top: -5px;
    margin-left: 15px ;
    border-radius: 10px;
    font-weight: 600;
    font-size: 20px;
    font-family: sans-serif;
    color:black;
    text-decoration: none;
/* font-family: 'Tilt Neon', cursive; */
}
.home-news-a:hover {
    color:blue;
    text-decoration:underline;
}
.home-news-p {
    width:100%;
    /* height:; */
    margin-top: -10px;
    margin-left: 15px ;
    border-radius: 10px;
    font-family: sans-serif;

}
.home-letters-div {
    width:50%;
    height:100px;
}
.bread-crumb {
    display: flex;
    margin-left: 100px;
    gap:10px;
    margin-top: 10px;
    /* color:dodgerblue; */
}
.bread-crumb1 {
    color:rgb(35, 25, 234);
    text-decoration: none;
    font-size: 17px;
    font-family: sans-serif;
}
.bread-crumb1:hover {
    text-decoration: underline;
}
.slash {
    font-weight: 500;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    color:black;
}
.user-profile {
  /* background-color: ; */
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 50%;
  margin-top: 30px;
}
#user-profile {
  border-radius: 50%;
  margin-top: 15px;
  width:35px;
  height:35px;
  margin-left: 50px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: -110px;
}

.dropdown-content-lang {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 130px;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: -50px;
  height:400px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: sans-serif;
  width:250px;
  border-radius: 30px;
  font-size: 20px;
}
.dropdown-content-lang a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: sans-serif;
  width:150px;
  border-radius: 30px;
  font-size: 20px;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown-content-lang a:hover {background-color: #ddd;}

.dropdown-content-lang a:hover {background-color: #ddd;}
.dropdown-content-lang a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropdown-content-lang {display: block;}

.dropdown:hover .user-profile {background-color: #3e8e41;}


.user-dropdown {
  width:25px;
  height:25px;
  position: relative;
  top: 5px;
}
.news1 {
  background-color: white;
  color: black;
  width:50%;
  height:150px;
  margin-left: 6.5%;
  margin-top: 1%;
  transition: all 0.8s;
  border-radius: 10px;
}
.newsright {
  background-color: white;
  color: black;
  width:600px;
  height:150px;
  margin-left: 1.5%;
  margin-top: 1%;
  transition: all 0.8s;
  border-radius: 10px;
}
.news1:hover , .newsright:hover {
  /* transform: scale(1.01); */
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: #87CEEB;
  color: white;
}
.newsh1 {
   font-size: 20px;
   font-family: 'Poppins',sans-serif;
   font-weight: 600;
   margin-left: 30px;
   position: relative;
   top:20px;
   width:700px;
}
.newsh1right {
  font-size: 18px;
  font-family: 'Poppins',sans-serif;
  font-weight: 600;
  margin-left: 25px;
  position: relative;
  top:20px;
  width:530px;
}
.newsanker {
  text-decoration: none;
  color: black;
}
.newsanker:hover {
  text-decoration: underline;
}
.newsp {
  font-size: 15px;
   font-family: 'Poppins',sans-serif;
   font-weight: 500;
   margin-left: 30px;
   position: relative;
   top:20px;
}
.newspright {
  font-size: 15px;
   font-family: 'Poppins',sans-serif;
   font-weight: 500;
   margin-left: 25px;
   position: relative;
   top:20px;
}
.newsflex {
  display: flex;
  flex-wrap: wrap;
}
.overflow-rightdiv {
  font-size: 18px;
  height:700px;
  width:40%;
  font-family: 'Poppins',sans-serif;
  font-weight: 600;
  position: absolute;
  top:175px;
  right:50px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.overflow-rightdiv::-webkit-scrollbar {
  display: none;
}


/*newsletter card css start*/
.card {
  width: 450px;
  height: 554px;
  padding: 0 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  background: #fff;
  border-radius: 20px;
  position: absolute;
  top:905px;
  right:100px;
}

.card > * {
  margin: 0;
}

.card__title {
  font-size: 23px;
  font-weight: 900;
  color: #333;
}

.card__content {
  font-size: 13px;
  line-height: 18px;
  color: #333;
}

.card__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__form input {
  margin-top: 10px;
  outline: 0;
  background: rgb(255, 255, 255);
  box-shadow: transparent 0px 0px 0px 1px inset;
  padding: 0.6em;
  border-radius: 14px;
  border: 1px solid #333;
  color: black;
}

.card__form button {
  border: 0;
  background: #111;
  color: #fff;
  padding: 0.68em;
  border-radius: 14px;
  font-weight: bold;
}

.sign-up:hover {
  opacity: 0.8;
} 
/*newsletter card css end*/


.newsposter {
  width: 430px;
  height: 854px;
  position: absolute;
  top:1305px;
  right:200px;
}
.newsposter1 {
  margin-top: 40%;
  height:1000px;
  width: 530px;
}
.newsposter2 {
  margin-top: 3%;
  height:1000px;
  width: 530px;
}
.newsrightactive {
  width: 430px;
  height: 854px;
  position: absolute;
  top:1005px;
  right:200px;
}



.ticker1 {
  background-color: lightblue;
  width:650px;
  height:50px;
  margin-top: 10px;
  margin-left: 0px;
  border-radius: 2px;
  padding: 10px;
  border: 1px solid black;
}

.ticker-name {
  display: flex;
  position: relative;
  top:-10px;
  left:0px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 12px;
  text-align: center;
}
.ticker-name-h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 12px;
  margin-top: 15px;
}
.ticker-value {
  display: flex;
  position: relative;
  top:-30px;
  left:0px;
  gap:20px;
  font-family: Arial, sans-serif;
}
.price-p ,.price-percent {
  position: relative;
  top:3px;
  left:10px;
  margin-left: 10px;
}



.dropdown-content-notification {
  display: none;
  position: absolute;
  right:-100px;
  top:50px;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 10px;
  width:270px;
  height:300px;
  font-family: 'Poppins', sans-serif;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.dropdown-content-notification::-webkit-scrollbar {
  display: none;
}

.dropdown-content-notification a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: 'Poppins',sans-serif;
  width:180px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: 'Poppins',sans-serif;
  width:180px;
}

.dropdown-content a:hover,.dropdown-content-notification a:hover {background-color: white; color:dodgerblue;}

.dropdown:hover .dropdown-content ,.dropdown1:hover .dropdown-content , .dropdown:hover .dropdown-content-notification  {display: block; }

.dropdown:hover .dropbtn  ,.dropdown1:hover .dropbtn {background-color: white; }




.notify-head {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 290px;
  height:50px;
  margin-left: -28px;
  margin-top: -20px;
  background-color: #9FB6C3;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  z-index: 2;
}
.notify-1 {
  width: 290px;
  height:75px;
  margin-left: -28px;
  margin-top: 5px;
  background-color: #E3EBEF;
  display: flex;
  flex-wrap: wrap;
  z-index: -1;
}
.notify-2 {
  width: 290px;
  height:50px;
  margin-left: -28px;
  margin-top: -25px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  z-index: -1;
}

.notify-user-img {
  width: 55px;
  height: 55px;
  margin-top: 9px;
  margin-left: 10px;
}
.notify-user-p {
  width : 200px;
  margin-top: 13px;
  margin-left: 10px;
}
.notify-user-h1 {
  width : 200px;
  margin-top: 5px;
  margin-left: 40px;
  text-align: center;
  font-weight: 450;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 10px;
  width:210px;
  font-family: 'Poppins', sans-serif;

}

.dropdown-content-notification {
  display: none;
  position: absolute;
  right:-100px;
  top:50px;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 10px;
  width:270px;
  height:300px;
  font-family: 'Poppins', sans-serif;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.dropdown-content-notification::-webkit-scrollbar {
  display: none;
}

.dropdown-content-notification a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: 'Poppins',sans-serif;
  width:180px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: 'Poppins',sans-serif;
  width:180px;
}

.dropdown-content a:hover,.dropdown-content-notification a:hover {background-color: white; color:dodgerblue;}

.dropdown:hover .dropdown-content ,.dropdown1:hover .dropdown-content , .dropdown:hover .dropdown-content-notification  {display: block; }

.dropdown:hover .dropbtn  ,.dropdown1:hover .dropbtn {background-color: white; }

#user-profile {
  margin-left: 30px;
  margin-top: 10px;
  width:38px;
  height:38px;
  border-radius: 50%;
}

#notification-img {
  margin-left: 7%;
}


.user-profile {
/* background-color: ; */
color: white;
padding: 16px;
font-size: 16px;
border: none;
border-radius: 50%;
margin-top: 30px;
}
#user-profile {
border-radius: 50%;
margin-top: 13px;
}

.dropdown1 {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: white;
min-width: 160px;
/* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
margin-left: -110px;
}

.dropdown-content-lang {
display: none;
position: absolute;
background-color: white;
width: 150px;
/* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
margin-left: -50px;
height:375px;
}
.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
font-family: sans-serif;
width:180px;
border-radius: 30px;
font-size: 20px;
}
.dropdown-content-lang a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
font-family: sans-serif;
width:150px;
border-radius: 30px;
font-size: 20px;
}
.dropdown-content a:hover {background-color: white;}
.dropdown-content-lang a:hover {background-color: white;}

.dropdown-content-lang a:hover {background-color: white;}
.dropdown-content-lang a:hover {background-color: white;}

.dropdown1:hover .dropdown-content {display: block;}
.dropdown1:hover .dropdown-content-lang {display: block;}

/* .dropdown1:hover .user-profile {background-color: #3e8e41;} */
