.user-row {
    margin-bottom: 14px;
  }
  
  table {
    margin-left: 100px;
  }
  .table-user-information > tbody > tr {
    border-top: 1px solid #ccc;
  }
  
  .table-user-information > tbody > tr:first-child {
    border-top: 0;
  }
  
  .table-user-information > tbody > tr > td {
    border-top: 0;
  }
  
  .panel {
    margin-top: 20px;
  }
  .panel-title {
    margin-top: 100px;
  }
  .container , .body {
    background-color: #87CEFA;
  }
  .edit , .delete {
    padding:10px;
    width:100px;
    border: none;
    border-radius: 10px;
    background-color: dodgerblue;
    color: white;
  }
  .edit:hover ,.delete:hover {
    transform: scale(1.05);
  }
 .img-circle {
  width:150px;
  height:150px;
  border-radius: 50%;
 }
 .editProfileInput {
  margin-left: 20%;
  position: absolute;
  top:200px;
  width: 350px;
 }
.submitEditProfile {
  margin-left: 45%;
  position: absolute;
  top:198px;
}
#panel-editprofile , #panel-editprofile1 {
  display: none;
}
.delUserProfile {
  margin-left: 45%;
  position: absolute;
  top:695px;
}