body {
    width: 100%;
    height: 5000px;
    margin: 0px;
    padding: 0px;

}
/*navbar start*/
a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;

}

a:hover {
    border-bottom: 2px solid #55ACEE;
}

.navbar {
    display: flex;
    background-color: #08041e;
    width: 100%;
    height: 100px;
}

.navlogo {
    width: 200px;
    height: 200px;
    margin-left: 50px;
    position: relative;
    bottom: 45px;
    cursor: pointer;
}

.navlinks {
    display: flex;
    justify-content: center;
    margin-top: 2.9%;
    gap: 30px;
    margin-left: 100px;
}

.navbtns {
    display: flex;
    gap: 30px;
    margin-top: 2.8%;
    margin-left: 20%;
}

.navbtnanker {
    border-bottom: 0px;
}

.navbtn1 {
    width: 100px;
    height: 45px;
    background-color: #245de7;
    color: white;
    border-radius: 20px;
    border: none;
    position: relative;
    bottom: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.navbtn2 {
    width: 150px;
    height: 45px;
    background-color: #245de7;
    color: white;
    border-radius: 20px;
    border: none;
    position: relative;
    bottom: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    cursor: pointer;
}
/*navbar end*/
/*herosection start*/
.heropage {
    background-color: #08041e;
    width: 100%;
    height: 1000px;
    padding-top: 50px;
}

.herobtns {
    display: flex;
    gap: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
<<<<<<< HEAD
    margin-left: 15%;
=======
      margin-left: 15%;
>>>>>>> 50473a6eeb4d1f8f7b7377208b9bb8f3b5491f01
    position: relative;
    bottom: 35px;
}


.heroh1 {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 65px;
    margin-left: 15%;
    padding-bottom: 50px;
}

.heropara {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin-left: 15%;
    opacity: 0.7;
    position: relative;
    bottom: 70px;
}

.herobtn1 {
    width: 250px;
    height: 60px;
    background-color: #245de7;
    color: white;
    border-radius: 40px;
    border: none;
    position: relative;
    bottom: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 18px;
    cursor: pointer;

}

.herobtn2 {
    width: 150px;
    height: 60px;
    background-color: black;
    color: white;
    border-radius: 20px;
    border: none;
    position: relative;
    bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 18px;

}

.herodashboard {
    margin-left: 10%;
    width: 1200px;
    border-radius: 20px;
}
/*herosection end*/
.secondpage {
    margin-top: 20%;
}

.secondpageh3 {
    color: #245de7;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: center;
}

.secondpageh1 {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 40px;
}

.secondpageletters {
    padding-top: 30px;
}

.featuresdiv1 {
    background-color: #f6f8fd;
    width: 550px;
    height: 500px;
    border-radius: 50px;
    color: black;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

}

.featuresdiv2 {
    background-color: #f6fcfe;
    width: 550px;
    height: 500px;
    border-radius: 50px;
    color: black;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.featuresdiv {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 5%;
}

.fallgraphimg,
.businessanalysisimg {
    width: 450px;
    height: 280px;
    margin-left: 40px;
    opacity: 0.9;
}

.featuresdiv1h1,
.featuresdiv2h1 {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: center;
}

.featuresdiv1para,
.featuresdiv2para {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: center;
}

.thirdpageimg {
    width: 800px;
    height: 500px;
    border-radius: 40px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-top: 25%;


}

.thirdpageletters {
    margin-top: 12%;
}

.thirdpageh1 {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding-left: 150px;
}

.thirdpagepara {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    padding-left: 150px;
    font-size: 20px;
}

.thirdpage {
    display: flex;

    justify-content: space-between;
    align-items: center;
}

.fourthpageimgdiv {
    background-color: #f6fcfe;
    width: 800px;
    height: 550px;
    border-radius: 50px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    color: black;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;

}

.fourthpage {
    margin-top: 15%;
    display: flex;
}

.fourthpageimgdiv1,
.fourthpageimgdiv2,
.fourthpageimgdiv3,
.fourthpageimgdiv4 {
    width: 300px;
    height: 200px;
    position: relative;
    top: 30px;
    margin-left: 50px;
    background-color: white;
    color: black;
    border-radius: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.fourthpageh1 {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;

}

.fourthpagepara {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.fourthpageletters {
    margin-left: 5%;
    margin-top: 10%;
}

.material-symbols-outlined {
    color: black;
    margin-left: 40%;
    padding-top: 20px;
}

.fourthpageimgh1 {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

.fourthpageimgpara {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    opacity: 0.7;
}

.fifthpageletters {
    margin-top: 15%;
}

.customerreviewsdiv1,
.customerreviewsdiv3,
.customerreviewsdiv4,
.customerreviewsdiv5,
.customerreviewsdiv6 {
    width: 450px;
    height: 250px;
    margin-top: 10px;
    border-radius: 20px;
    background-color: white;
    color: black;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.customerreviewsdiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.customerreviewsdiv2 {
    width: 450px;
    height: 350px;
    margin-top: 10px;
    border-radius: 20px;
    background-color: white;
    color: black;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.customerreviewsdiv4,
.customerreviewsdiv6 {
    position: relative;
    bottom: 100px;
}

.customerreviewsimg {
    width: 80px;
    height: 80px;
    position: relative;
    top: 20px;
    left: 20px;
}

.profilenamediv {
    display: flex;
}

.customerreviewsh3,
.customerreviewspara1,
.customerreviewspara2 {
    color: black;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.customerreviewsletters {
    padding-left: 20px;
    padding-top: 5px;
}

.customerreviewspara1 {
    padding-left: 40px;
}

.customerreviewsbtn {
    width: 300px;
    border: 2px solid #245de7;
    color: #245de7;
    background-color: transparent;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0px -70px 80px 60px white;
    margin-left: 40%;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    cursor: pointer;
}

/*footer styles start*/

footer {
    position: relative;
    bottom: 5%;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    cursor: pointer;
}

.footer {
    background-color: #08041e;
    color: white;
    width: 100%;
    height: 100%;
    margin-top: 40%;
}

.footerlogo {
    width: 250px;
    height: 250px;
    margin-top: 0px;
    margin-left: 130px;
    cursor: pointer;
}

.footerletters {
    width: 300px;
    height: 250px;
    margin-top: -50px;
    margin-left: 130px;
    cursor: pointer;
    opacity: 0.8;
}

/* socialmedia icon start*/

.fa {
    padding: 10px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 1;
}

.fa-facebook {
    background-color: black;
    color: white;
    border-radius: 50%;

}

.fa-facebook:hover {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background-color: black;
    color: white;

    border-radius: 50%;

}

.fa-twitter:hover {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background-color: black;
    color: white;

    border-radius: 50%;

}

.fa-linkedin:hover {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background-color: black;
    color: white;

    border-radius: 50%;

}

.fa-youtube:hover {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background-color: black;
    color: white;

    border-radius: 50%;

}

.fa-instagram:hover {
    background: hotpink;
    color: white;
}

/* socialmedia icon end*/

.footercontainer {
    display: flex;
}

.footerpagelinks1,
.footerpagelinks2,
.footerpagelinks3,
.footerpagelinks4 {
    margin-left: 60px;
}

.footerlinkdiv {
    margin-top: 80px;
    font-size: 15px;
}


.footerpagelinks1 {
    text-align: center;
}

.info {
    display: flex;
    justify-content: flex-start;
    position: relative;
    right: 320px;
    bottom: 150px;
}

.faq,
.privacypolicy,
.riskwarning {
    color: #0094ff;
    opacity: 0.9;
}

.faq:hover,
.privacypolicy:hover,
.riskwarning:hover {
    opacity: 1;
}

.footerlink1 {
    color: white;
}

.footerlink1:hover {
    color: #0094ff;
    border-bottom: 2px solid #55ACEE;
}

/*footer styles end*/
